
:host {
  display: block;
  width: 100%;
  height: 100%;
}

.visualizer-container {
  width: 100%;
  height: 100%;
  background-color: transparent; /* No background, just bars */
  overflow: hidden; /* Hide anything outside canvas boundaries */
  border: 1px solid var(--primary-color); /* Dynamic subtle border */
}

canvas {
  display: block; /* Remove extra space below canvas */
  width: 100%;
  height: 100%;
}