input[type=range].vertical-slider {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 120px;
    padding: 0 5px;
    background-color: transparent;
}

input[type=range].vertical-slider::-webkit-slider-runnable-track {
    background: var(--track-bg);
    width: 4px;
    border-radius: 0;
}

input[type=range].vertical-slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 16px;
   height: 8px;
   background: var(--thumb-bg);
   cursor: pointer;
   border: 1px solid var(--thumb-border);
}

input[type=range].vertical-slider::-moz-range-track {
    background: var(--track-bg);
    width: 4px;
    border-radius: 0;
}

input[type=range].vertical-slider::-moz-range-thumb {
   width: 16px;
   height: 8px;
   background: var(--thumb-bg);
   cursor: pointer;
   border: 1px solid var(--thumb-border);
   border-radius: 0;
}