.grid-cols-16 {
  grid-template-columns: repeat(16, minmax(0, 1fr));
}
/* Custom slider styling if needed, inheriting mostly from global or using default for now */
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: currentColor;
  cursor: pointer;
  margin-top: -4px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: currentColor;
  opacity: 0.5;
}
